<div class="post_container">
    <h2 class="post_title">Post <%= post.title %></h2>
    <p class="post_paragraph"><%= post.text %></p>
    <div class="comments_and_likes">
        <p class="comments_counter">Comments <%= post.comments_counter %>, Likes <%= post.likes_counter %></p>
    </div> 
</div>
