<div class="user_card">
        <div class="photo_container">
          <img src="<%= user.photo%>" alt="User photo">
        </div>
        <div class="user_info">
          <h2 class="user_name"><%= user.name %></h2>
          <p class="number_of_posts">Number of posts: <%= user.posts_counter %></p>
        </div>
</div>
